body {
    background: linear-gradient(135deg, rgba(150,0,255,1) 0%, rgba(126,0,255,1) 100%);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0;
    overflow: hidden;
}

.content {
    max-width: 390px;
}

.nav {
    background-color: rgb(157, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}

.coin-counter {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}

.coin-counter > img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 10px black);
}

.user-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLIp6q2G1LGEq9VLU7ZkaW1e90UocVZZbgvQ&s);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#main-button {
    background-image: url(img/vibrator-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    margin: 50px 50px;
    filter: drop-shadow(0px 0px 10px black);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(157, 0, 255);
    font-size: 22px;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button > img {
    width: 50px;
    height: 50px;
}
